<div id="tabs-index-reviews">
  <ul class="nav nav-tabs">
    <li role="presentation" class="">
      <%= link_to "All Posts", reviews_path %>
    </li>
    <li role="presentation" class="">
      <%= link_to "Maps", maps_index_path %>
    </li>
  </ul>
</div>
