
<h1>StaticPages#index</h1>
<div id="map-container">
  <div id="map-canvas">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpjZ2NGtngZBKi2wlmzgtKioFkTbQO-qo">
    </script>
  </div>
</div>
