<head>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=AIzaSyCpjZ2NGtngZBKi2wlmzgtKioFkTbQO-qo">
  </script>
</head>
<body onload="index_maps()">
  <div id="map-index-container">
    <div id="map-index-reviews" data-coordinates="<%= @coordinates.to_json%>"
      data-stores="<%= @stores.to_json %>"
      data-reviews="<%= @reviews.to_json %>">
    </div>
  </div>
</body>
