#create_post {
  height: 50px;
  width: 60%;
  float: left;
  margin-top: 20px;
  margin-left: 9%;
}

#review-index {
  float: left;
  margin-left: 2%;
  width: 60%;

  .store-map {
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
  }

  .border-show {
    margin-top: 2%;
    margin-left: 10%;
    padding: 10px;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    display: block;

    .fa-1x {
      color: blue;
      margin-top: 10px;
    }

    .mark-review {
      margin-right: 0px;
      float: right;
      .mark-now {
        color: white;
        background-color: #6CAAD7;
      }

      .marked {
        color: red;
        background-color: #6CAAD7;
      }

      .btn {
        padding: 2px 5px;
      }
    }

    .review-user {
      display: inline-block;
      min-height: 100px;
      .review-avatar {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }

    .col-md-9 {
      .store-name {
        font-weight: 500;
        font-size: 150%;
        min-height: 100px;
      }

      .review-content {
        font-weight: 500;
        font-size: 130%;
      }
    }

    .comments-block {
      padding-top: 100px;
      font-size: 120%;

      .col-md-10 {
        textarea {
          width: 100%;
        }
      }
    }
  }
}

#top_ten_rate {
  width: 25%;
  height: 25%;
  border: 1px solid #7d5353;
  border-radius: 3px;
  float: right;
  margin: 20px 20px 10px;

  .head-right {
    position: relative;
    margin-top: -20px;
    height: 40px;
    border-bottom: 1px solid #7D5353;
    background-color: #00e87d;
    color: white;
    z-index: 3;

    h3 {
      text-align: center;
    }
  }

  .body-right {
    margin: 10px 10px 5px 10px;

    a.truncate {
      font-size: 120%;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      width: 90%;
      line-height: 25px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      white-space: nowrap;
    }
  }
}
