#review-show {
  margin-left: 20px;
  .store-map {
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
  }

  form {
    .mark-now {
      color: white;
      background-color: #6CAAD7;
    }

    .marked {
      color: red;
      background-color: #6CAAD7;
    }
  }

  .border-show {
    margin-top: 5%;
    margin-left: 10%;
    width: 60%;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    display: block;

    .group-show-content {
      margin-top: 10px;
      margin-bottom: 50px;
    }

    .rate-store {
      margin-top: 50px;
    }

    .review-user {
      min-height: 100px;
      img {
        height: 60px;
        width: 60px;
      }
    }

    .col-md-9 {
      .store-name {
        font-weight: 500;
        font-size: 150%;
        min-height: 100px;
      }

      .review-content {
        font-weight: 500;
        font-size: 130%;
      }

      .rate-point {
        p {
          font-style: italic;
          margin-right: 50px;
        }
      }
    }

    .comment-input {
      margin-top: 10px;
      font-size: 120%;

      .avatar-comment {
        img {
          margin-left: 20px;
          width: 32px;
          height: 32px;
        }
      }

      .col-md-10 {
        textarea {
          width: 100%;
        }
      }
    }

    .comments-block {
      font-size: 120%;
      .comment-cell {
        position: relative;

        .avatar-comment {
          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }
}

#show-map-container {
  width: 96%;
  height: 300px;
  margin: 2%;
  border: 1px solid #4c2727;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 5px;
  .show-map-canvas {
    position: fixed;
    height: 298px;
    width: 100%;
  }
}

#show-marker-avg {
  float: right;
  width: 60px;
  height: 60px;
  position: relative;
  margin-right: 150px;
  background-repeat: no-repeat;

  img {
    position: relative;
  }

  b {
    z-index: 10;
    position: absolute;
    top: 20px;
    left: 18px;
    vertical-align: middle;
    font-size: 120%;
    color: white;
  }
}

#users-rating {
  float: right;
  margin-top: 16px;
  margin-right: 30px;

  b {
    font-size: 140%;
    color: blue;
  }
}
