#review-show-info {
  a {
    color: #147ae2;
  }
  .fa-1x {
    color: blue;
  }
}

#review-show {
  margin-left: 20px;
  .store-map {
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
  }

  form {
    .mark-now {
      color: white;
      background-color: #6CAAD7;
    }

    .marked {
      color: red;
      background-color: #6CAAD7;
    }
  }

  .border-show {
    float: left;
    margin-top: 5%;
    margin-left: 2%;
    width: 65%;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    border-radius: 4px 4px 0 0;
    display: block;

    .group-show-content {
      margin-top: 10px;
      margin-bottom: 50px;
    }

    .fa {
      color: blue;
      margin-bottom: 20px 0;
    }

    .rate-store {
      margin-top: 50px;
    }

    .review-user {
      min-height: 100px;
      img {
        height: 60px;
        width: 60px;
      }
    }

    .col-md-9 {
      .store-name {
        font-weight: 500;
        font-size: 150%;
        min-height: 100px;
      }

      .review-content {
        bottom: 10px;
        font-weight: 500;
        font-size: 130%;
      }

      .rate-point {
        p {
          font-style: italic;
          margin-right: 50px;
        }
      }
    }

    .comment-input {
      margin-top: 10px;
      font-size: 120%;

      .avatar-comment {
        img {
          margin-left: 20px;
          width: 32px;
          height: 32px;
        }
      }

      .col-md-10 {
        textarea {
          width: 100%;
        }
      }
    }

    .comments-block {
      font-size: 120%;
      .comment-cell {
        position: relative;

        .avatar-comment {
          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  .right-side-show {
    position: relative;
    width: 27%;
    float: right;
    margin: 5% 2%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;

    .right-content {
      position: inherit;
      margin-left: 20px;

      .fa {
        color: blue;
      }

      .right-row {
        margin-top: 10px;
      }
    }

    h3 {
      border-bottom: 1px solid rgb(221, 221, 221);
      margin-bottom: 10px;
    }
  }
}


#show-map-container {
  width: 96%;
  height: 300px;
  margin: 2%;
  border: 1px solid #4c2727;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 5px;
  .show-map-canvas {
    position: fixed;
    height: 298px;
    width: 100%;
  }
}

#show-marker-avg {
  float: right;
  width: 60px;
  height: 60px;
  position: relative;
  margin-right: 150px;
  background-repeat: no-repeat;

  img {
    position: relative;
  }

  b {
    width: 60px;
    z-index: 10;
    position: absolute;
    top: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 120%;
    color: white;
  }
}

#users-rating {
  float: right;
  margin-top: 16px;
  margin-right: 30px;

  b {
    font-size: 140%;
    color: blue;
  }
}
