#user-profile {
  margin-top: 50px;
  font-size: 120%;
  .user-avatar {
    width: 200px;
    height: 200px;
  }

  .user-action {
    a {
      margin-right: 20px;
    }
    a:visited {
      color: #337ab7;
    }
  }
}
