<div class="row">
  <div class="form-group">
    <div class="col-md-5">
      <%= f.text_field :lat, class: "form-control",
        placeholder: t("coordinates.latitude") %>
    </div>
    <div class="col-md-5">
      <%= f.text_field :lng, class: "form-control",
        placeholder: t("coordinates.longitude") %>
    </div>
  </div>
</div>

<div id="new-map-container">
  <div id="new-map-canvas">
  </div>
</div>
