<div class="row">
  <%= form_for [@review, @comment], remote: true do |f|%>
    <div class="col-md-10">
      <%= f.text_area :content %>
    </div>
    <div class="col-md-2">
      <%= f.submit :comment, class: "btn btn-primary btn-xs" %>
    </div>
  <% end %>
</div>
