<span class="">
  <%= f.file_field :image, multiple: true,
    accept: "image/*", class: "form-control glyphicon glyphicon-camera",
    placeholder: :image %>
</span>

<%= f.text_field :caption, class: "form-control", placeholder: :caption %>

