<p>
  <%= f.text_field :name, class: "form-control", placeholder: :name,
    require: true %>
  <%= f.text_area :address, rows: 3, class: "form-control",
    placeholder: :address %>
  <%= f.telephone_field :phone_number, class: "form-control",
    placeholder: :phone_number %>
  <%= f.text_field :owner, class: "form-control", placeholder: :owner %>
</p>
