<%= @review.content %>

<div id="comments">
  <% @review.comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</div>

<div class="row"><h2>Test Bootstrap </h2>
  <div class="col-md-4">
    col 1
  </div>
  <div class="col-md-4">col 2</div>
</div>

<%= render "comments/form" %>
